<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAlumno</servlet-name>
        <servlet-class>controlador.ControladorAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repoAlumno</servlet-name>
        <servlet-class>controlador.repoAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorProfe</servlet-name>
        <servlet-class>controlador.controladorProfe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repoProfe</servlet-name>
        <servlet-class>controlador.repoProfe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroNota</servlet-name>
        <servlet-class>controlador.registroNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNota</servlet-name>
        <servlet-class>controlador.ControladorNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repoNota</servlet-name>
        <servlet-class>controlador.repoNota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/controladorlogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAlumno</servlet-name>
        <url-pattern>/controladoralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarsesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repoAlumno</servlet-name>
        <url-pattern>/repoalumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorProfe</servlet-name>
        <url-pattern>/controladorprofe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repoProfe</servlet-name>
        <url-pattern>/repoprofe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroNota</servlet-name>
        <url-pattern>/registronota.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNota</servlet-name>
        <url-pattern>/controladornota.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repoNota</servlet-name>
        <url-pattern>/reponota.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
